<div class="border-b border-gray-900/10 pb-12">
  <h2 class="text-2xl font-semibold leading-7 text-gray-900 text-center">Cadastrar Música</h2>
  <p class="mt-1 text-sm leading-6 text-gray-600 text-center">Preencha os detalhes da música abaixo.</p>

  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    <!-- Cantor -->
    <div class="sm:col-span-3">
      <label for="singer" class="block text-sm font-medium leading-6 text-gray-900">Cantor</label>
      <div class="mt-2">
        <input
          type="text"
          id="singer"
          formControlName="singer"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Digite o nome do cantor"
        />
      </div>
    </div>

    <!-- Música -->
    <div class="sm:col-span-3">
      <label for="song" class="block text-sm font-medium leading-6 text-gray-900">Música</label>
      <div class="mt-2">
        <input
          type="text"
          id="song"
          formControlName="song"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Digite o nome da música"
        />
      </div>
    </div>

    <!-- Gênero -->
    <div class="sm:col-span-3">
      <label for="genre" class="block text-sm font-medium leading-6 text-gray-900">Estilo Musical</label>
      <div class="mt-2">
        <input
          type="text"
          id="genre"
          formControlName="genre"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Digite o estilo musical"
        />
      </div>
    </div>

    <!-- Data de Cadastro -->
    <div class="sm:col-span-3">
      <label for="registrationDate" class="block text-sm font-medium leading-6 text-gray-900">Data de Cadastro</label>
      <div class="mt-2">
        <input
          type="date"
          id="registrationDate"
          formControlName="registrationDate"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <!-- Botão de Enviar -->
    <div class="sm:col-span-6">
      <button
        type="submit"
        class="w-full bg-indigo-600 text-white font-medium p-2 rounded-md hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-600 focus:ring-inset"
      >
        Enviar
      </button>
    </div>
  </div>
</div>
